<form id="login" class="well user-form" method="POST" action="/">
	
	<h2>Login</h2>
	
	<label>Email</label>
	<input name="email" type="text" class="span3" placeholder="">
	
	<label>Password</label>
	<input name="password" type="password" class="span3" placeholder="" >
	
	<label class="checkbox">
		<input type="checkbox">
		Remember me</label>
	
	<a href="/request-password">Forgot password</a>
		
	<button type="submit" class="btn">
		Submit
	</button>

</form>
