<form id="request-password" class="well user-form">
	
	<h2>Request Password</h2>
	
	<label>Email</label>
	<input name="email" type="text" class="span3" placeholder="">
		
	<button type="submit" class="btn">
		Submit
	</button>
</form>
