<form id="login" class="well user-form">
	
	<h2>Reset Password</h2>
	
	<label>Password</label>
	<input name="password" type="password" class="span3" placeholder="" >
	
	<label>Confirm Password</label>
	<input name="password-confirm" type="password" class="span3" placeholder="" >
		
	<button type="submit" class="btn">
		Submit
	</button>
</form>
